/.fleet
/.idea/
/.phpunit.cache
/.vscode/
/database/database.sqlite
/nbproject/
/node_modules/
/public/build
/public/hot
/public/storage
/storage/*.key
/vendor/
.env
.env.backup
.env.production
.php-cs-fixer.cache
.phpunit.result.cache
_ide_helper.php
_ide_helper_models.php
auth.json
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
